*{
    padding: 0px;
    margin:0px;
}
body{
    background-color:  #d4b996;
}

.navbar{
    background-color: wheat;
    color: #2c1810;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    border-radius: 8px;
    padding: 5px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.headnav{
    padding-left: 10px;
}

.links{
    display: flex;
    margin: 5px;
    column-gap: 20px;
    
}
.navbarlink{
    padding: 10px;
    font-size: 20px;
    
}
.navbarlink a{
    text-decoration: none;
}
.navbarlink a:hover{
    text-decoration: overline;
    cursor: pointer;
    color:  #b8860b;
}
.sidenavbar{
    background-color: #f2d7a0;
    color: #2c1810;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -50%;
    
}

.sideheadnav{
     padding-left:15px;
}

.sidenavbarlink{
    
    padding-top: 50px;
    padding-left:10px;
    font-size: 25px;
    margin: 10px;
}

.sidenavbarlink a{
     text-decoration: none;
}
.close-btn{
    text-align: right;
    padding: 4px;
    margin: 4px;

}


.toggle-btn{
    display: none;
}



/* media querry */
@media screen and (max-width:600px){
    .toggle-btn{
        display: block;
    }
    .links{
        display: none;
    }
}

